
@{
    ViewBag.Title = "DPBReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    #block_container, #chart1 {
        display: inline;
    }
</style>
<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/chartjs-plugin-datalabels.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<div style="width: 50%;float: right;">
    @{ var ddlCompanyId = 0;}
    @Html.DropDownListFor(model => ddlCompanyId, (List<SelectListItem>)@ViewBag.fillCompanyddl, "-- Select Company --", new { @class = "form-control", @style = "float: right; width: 50%;margin-bottom: 10px;MARGIN-TOP: 20PX;", @onchange = "showDPBGraph(this.value)", value = '0' })
</div>
<div id="block_container">

    <div style="width:100% !important;float:left">
        <div class="lead" style="margin-left:50px;text-align: center;">
            Digital Picture Benchmark (DPB)
        </div>
        <div>
            <canvas id="chart1"></canvas>
            <script>
                getData();
                var data1 = [];
                var data2 = [];
                var data3 = [];
                var data4 = [];
                function getData() {
                    $.ajax({
                        type: "POST",
                        url: "/Home/GetDPBReportData",
                        //data: '{name: "' + $("#txtName").val() + '" }',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            debugger;
                            initializeChartSeries(response);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
                function initializeChartSeries(chartData) {
                    debugger;

                    data1 = chartData[0];
                    data2 = chartData[1];
                    data3 = chartData[2];
                    data4 = chartData[3];
                    DisplayChart(data1, data2, data3, data4);
                }

                function DisplayChart(dpbData1, dpbData2, dpbData3, dpbData4) {

                    var chart = new Chart('chart1', {
                        type: 'radar',
                        data: {
                            labels: ['Customer', 'Employee', 'Partner', 'CIO', 'CDO', 'CEO'],
                            datasets: [{
                                label: 'Schneider',
                                data: dpbData1,//[53, 69, 35, 43, 50, 75],
                                borderColor: '#3dcd58',
                                fill: false,
                            },
                            {
                                label: 'Daimler',
                                data: dpbData2,//[33, 53, 27, 43, 20, 35],
                                borderColor: '#7b7c81',
                                fill: false,
                            },
                            {
                                label: 'Disney',
                                data: dpbData3,//[61, 78, 48, 71, 67, 72],
                                borderColor: '#0795e6',
                                fill: false,
                            },
                            {
                                label: 'McDonalds',
                                data: dpbData4,//[55, 35, 0, 0, 0, 0],
                                borderColor: '#ffc111',
                                fill: false,
                            }]
                        },
                        options: {
                            legend: {
                                display: true,
                                position: 'top',
                                labels: {
                                    fontColor: 'rgb(255, 99, 132)'
                                }
                            },
                            scale: {
                                display: true,

                            }
                        },

                        plugins: {
                            datalabels: {
                                font: {
                                    size: 15,
                                    weight: 600
                                },
                            }
                        },
                    });
                }


                function showDPBGraph(ele) {
                    debugger;
                    if (ele !== "") {

                        if (ele == 1) {
                            var dpbData1 = data1;
                            var dpbData2 = [];
                            var dpbData3 = [];
                            var dpbData4 = [];
                            DisplayChart(dpbData1, dpbData2, dpbData3, dpbData4)
                        }

                        if (ele == 2) {
                            var dpbData1 = [];
                            var dpbData2 = data2;
                            var dpbData3 = [];
                            var dpbData4 = [];
                            DisplayChart(dpbData1, dpbData2, dpbData3, dpbData4)
                        }

                        if (ele == 3) {
                            var dpbData1 = [];
                            var dpbData2 = [];
                            var dpbData3 = data3;
                            var dpbData4 = [];
                            DisplayChart(dpbData1, dpbData2, dpbData3, dpbData4)
                        }
                        if (ele == 4) {
                            var dpbData1 = [];
                            var dpbData2 = [];
                            var dpbData3 = [];
                            var dpbData4 = data4;
                            DisplayChart(dpbData1, dpbData2, dpbData3, dpbData4)
                        }
                    } else {
                        var dpbData1 = data1;
                        var dpbData2 = data2;
                        var dpbData3 = data3;
                        var dpbData4 = data4;
                        DisplayChart(dpbData1, dpbData2, dpbData3, dpbData4)
                    }
                }

            </script>
        </div>
    </div>
</div>
