@{
    ViewBag.Title = "Dashboard";
}




    <div class="lead">
        Account Cross Sell</p>
        PAL (Portofolio Agile Lab)
    </div>
    <div style="float: right;font-size: x-small;">
        Legends:
        * : Leader
        + : Growth Potential
    </div>
    <div class="wrapper">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
        <canvas id="chart"></canvas>
        <script>
        var labels = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 50];

        var data = [90, 80, 60, 80, 90, 0, 0, 0, 0, 0, 0];
        var data2 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
        var data3 = [90, 0, 60, 80, 90, 0, 0, 0, 70, 0, 0];
        var data4 = [90, 0, 0, 80, 0, 0, 0, 0, 70, 0, 90];

        var labels2 = ['*+', '+', '', '+', '', '', '', '', '', '', '', ''];
        var labels3 = ['', '', '', '', '', '', '', '', '', '', '', ''];
        var labels4 = ['*', '', '+', '+', '+', '', '', '', '*+', '', ''];
        var labels5 = ['+', '', '', '+', '+', '', '+', '+', '+', '', '+'];

        var yLable = ['NextGen AMS', 'NextGen SAP', 'DCX', 'Cloud', 'CyberSecurity', 'Digital Mfg', 'AI', 'Chatbots', 'Devops', 'Blockchain', 'End to End Offering']

        var chart = new Chart('chart', {
            type: 'bar',
            data: {
                labels: yLable,
                labels2: labels2,
                datasets: [{
                    backgroundColor: '#ccddee',
                    borderColor: '#5566aa',
                    data: data,
                    lbl: labels2,
                    label: 'Schneider',
                },
                {
                    backgroundColor: '#22cc22',
                    borderColor: '#22cc22',
                    data: data2,
                    lbl: labels3,
                    label: 'Daimler',
                },
                {
                    backgroundColor: '#FF0000',
                    borderColor: '#FF0000',
                    data: data3,
                    lbl: labels4,
                    label: 'Disney',
                },
                {
                    backgroundColor: '#0000CD',
                    borderColor: '#0000CD',
                    data: data4,
                    lbl: labels5,
                    label: 'McDonalds',
                }]
            },
            options: {
                legend: {
                    display: true,
                    position: 'bottom',
                    labels: {
                        fontColor: 'rgb(255, 99, 132)'
                    }
                },
                tooltip: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            max: 100
                        }
                    }]
                },
                plugins: {
                    datalabels: {
                        align: 'end',
                        anchor: 'end',
                        backgroundColor: null,
                        borderColor: null,
                        borderRadius: 4,
                        borderWidth: 1,
                        color: function (context) {
                            var value = context.dataset.data[context.dataIndex];
                            return context.dataset.backgroundColor;
                            //return value < 20 ? '#ff2020'
                            //	: value < 50 ? '#223388'
                            //  : '#22cc22'
                        },
                        font: {
                            size: 11,
                            weight: 600
                        },
                        offset: 4,
                        padding: 0,
                        formatter: function (value, context) {
                            var lblValue = context.dataset.lbl[context.dataIndex];
                            var lblData = context.dataIndex;
                            //return lblData;
                            return lblValue;
                        }
                    }
                }
            }
        });

        </script>
    </div>
