
@{
    ViewBag.Title = "PAL_Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Portfolio Agile Report</h2>

<style type="text/css">
    #block_container, #chart1 {
        display: inline;
    }
</style>
<div style="width: 50%;float: right;">
    @{ var ddlCompanyId = 0;}
    @Html.DropDownListFor(model => ddlCompanyId, (List<SelectListItem>)@ViewBag.fillCompanyddl, "-- Select Company --", new { @class = "form-control", @style = "float: right; width: 50%;margin-bottom: 10px;MARGIN-TOP: 20PX;", @onchange = "showPALGraph(this.value)", value = '0' })
</div>

<div id="block_container">
    <div style="width:100% !important;float:left">
        <div class="lead" style="text-align: center;">
            Portofolio Agile Lab (PAL)
        </div>
        <div style="font-size: x-small;margin-bottom:20px;text-align:right;">
            Legends:
            * : Leader
            + : Growth Potential
        </div>
        <div class="wrapper" id="bloc1">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <canvas id="chart"></canvas>
            <script>
                var data1 = [];
                var data2 = [];
                var data3 = [];
                var data4 = [];

                var labels2 = [];
                var labels3 = [];
                var labels4 = [];
                var labels5 = [];

                function getData() {
                    $.ajax({
                        type: "POST",
                        url: "/Home/GetData",
                        //data: '{name: "' + $("#txtName").val() + '" }',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            debugger;
                            initializeChartSeries(response);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
                getData();

                function initializeChartSeries(chartData) {
                    debugger;

                    data1 = chartData.a[0];
                    data2 = chartData.a[1];
                    data3 = chartData.a[2];
                    data4 = chartData.a[3];

                    labels2 = chartData.IsLeadOrTobe[0];
                    labels3 = chartData.IsLeadOrTobe[1];
                    labels4 = chartData.IsLeadOrTobe[2];
                    labels5 = chartData.IsLeadOrTobe[3];

                    DisplayChart(data1, data2, data3, data4, labels2, labels3, labels4, labels5);

                }

                function DisplayChart(data1, data2, data3, data4, labels2, labels3, labels4, labels5) {

                    debugger;

                    var yLable = ['NextGen AMS', 'NextGen SAP', 'DCX', 'Cloud', 'CyberSecurity', 'Digital Mfg', 'AI', 'Chatbots', 'Devops', 'Blockchain', 'End to End Offering'];

                    var chart = new Chart('chart', {
                        type: 'bar',
                        data: {
                            labels: yLable,
                            labels2: labels2,
                            datasets: [{
                                backgroundColor: '#3dcd58',
                                borderColor: '#3dcd58',
                                data: data1,
                                lbl: labels2,
                                label: 'Schneider',
                            },
                            {
                                backgroundColor: '#7b7c81',
                                borderColor: '#7b7c81',
                                data: data2,
                                lbl: labels3,
                                label: 'Daimler',
                            },
                            {
                                backgroundColor: '#0795e6',
                                borderColor: '#0795e6',
                                data: data3,
                                lbl: labels4,
                                label: 'Disney',
                            },
                            {
                                backgroundColor: '	#ffc111',
                                borderColor: '	#ffc111',
                                data: data4,
                                lbl: labels5,
                                label: 'McDonalds',
                            }
                            ]
                        },
                        options: {
                            legend: {
                                display: true,
                                position: 'top',
                                labels: {
                                    fontColor: 'rgb(255, 99, 132)'
                                }
                            },
                            tooltip: false,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        min: 0,
                                        max: 10
                                    }
                                }]
                            },
                            plugins: {
                                datalabels: {
                                    align: 'end',
                                    anchor: 'end',
                                    backgroundColor: null,
                                    borderColor: null,
                                    borderRadius: 4,
                                    borderWidth: 1,
                                    color: function (context) {
                                        var value = context.dataset.data[context.dataIndex];
                                        return context.dataset.backgroundColor;
                                        //return value < 20 ? '#ff2020'
                                        //	: value < 50 ? '#223388'
                                        //  : '#22cc22'
                                    },
                                    font: {
                                        size: 15,
                                        weight: 600
                                    },
                                    offset: 4,
                                    padding: 0,
                                    formatter: function (value, context) {
                                        var lblValue = context.dataset.lbl[context.dataIndex];
                                        var lblData = context.dataIndex;
                                        //return lblData;
                                        return lblValue;
                                    }
                                }
                            }
                        }
                    });

                    var canvas = document.getElementById("chart");
                    var ctx = canvas.getContext("2d");

                    //----------For Redirecting Chart to details page------------------
                    canvas.onclick = function (evt, legendItem) {
                        var activePoint = chart.getElementAtEvent(evt);

                        if (activePoint) {
                            //var chartData = activePoint[0]['_chart'].config.data;
                            //var idx = activePoint[0]['_index'];

                            //var label = chartData.labels[idx];
                            //var value = chartData.datasets[0].data[idx];

                            var companyName = activePoint[0]._model.datasetLabel;
                            if (companyName = "Schneider")
                                window.location.href = "/PortfolioAgileLab?companyId=1";
                            if (companyName = "Daimler")
                                window.location.href = "/PortfolioAgileLab?companyId=2";
                            if (companyName = "Disney")
                                window.location.href = "/PortfolioAgileLab?companyId=3";
                            if (companyName = "McDonalds")
                                window.location.href = "/PortfolioAgileLab?companyId=4";
                        }
                    };
                }

                function showPALGraph(ele) {
                    debugger;
                    if (ele !== "") {

                        if (ele == 1) {
                            var dpbData1 = data1;
                            var dpbData2 = [];
                            var dpbData3 = [];
                            var dpbData4 = [];
                            DisplayChart(dpbData1, dpbData2, dpbData3, dpbData4)
                        }

                        if (ele == 2) {
                            var dpbData1 = [];
                            var dpbData2 = data2;
                            var dpbData3 = [];
                            var dpbData4 = [];
                            DisplayChart(dpbData1, dpbData2, dpbData3, dpbData4)
                        }

                        if (ele == 3) {
                            var dpbData1 = [];
                            var dpbData2 = [];
                            var dpbData3 = data3;
                            var dpbData4 = [];
                            DisplayChart(dpbData1, dpbData2, dpbData3, dpbData4)
                        }
                        if (ele == 4) {
                            var dpbData1 = [];
                            var dpbData2 = [];
                            var dpbData3 = [];
                            var dpbData4 = data4;
                            DisplayChart(dpbData1, dpbData2, dpbData3, dpbData4)
                        }
                    } else {
                        var dpbData1 = data1;
                        var dpbData2 = data2;
                        var dpbData3 = data3;
                        var dpbData4 = data4;
                        DisplayChart(dpbData1, dpbData2, dpbData3, dpbData4)
                    }
                }

            </script>
        </div>
    </div>

</div>